.tree {
    position: fixed;
    bottom: -600px;
    left: -600px;
    animation-name: treeScroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: -1;
    opacity: .3;
    pointer-events: none;
  }
  
  @keyframes treeScroll {
    from {
      bottom: -600px;
      left: -600px;
    }
    to {
      bottom: -764px;
      left: -468px;
    }
  }