.SidebarPopoutButton {
    position: absolute;
    padding: .75rem;
    background-color: var(--mid-grey);
    text-shadow: 1px 3px 0 black;
    right: calc(-1.5rem - 28px);
    z-index: 1;
    transition: background-color .1s linear;
    border-right: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
}

.SidebarPopoutButton:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.popoutIcon {
    color: var(--off-white);
}