.Sidebar {
    background-color: var(--mid-grey);
    box-shadow: 0 0 20px 0 var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 15rem !important;
    min-height: calc(100vh - 7rem);
    position: relative;
    z-index: 2;
    transition: left .2s ease;
    flex-shrink: 0;
}